*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: arial;
	font-style: italic; 
	
}

.container{
	
	width:1365px;
	height:50px;
	background-color:#857585;
	position:relative;
	
}


.container ul li a{
	
	font-size:25px;
	color:#fff;
	padding:10px 28px;
	text-decoration: none;
	margin:auto;
	height: 60px;
	line-height:40px;
}

.container ul li{
	
	display: inline-block;
	margin: auto;
	display:
}

.container ul li ul{
	
	background-color: #656565;
	
	
	
	
	
}